#main-menu {
  grid-area: header;
  transform: translateY(9px);
  // so the toc can never appear over it
  z-index: 2;
}

// States

// pinned
#grid {
  &.pin-main-menu {
    #main-menu {
      grid-area: menu;
      margin-top: initial;
      transform: translateX(-14px);
      background-color: #fafafa;
      padding: 8px 14px;
      width: calc(100% - 44px);
      .menu { width: auto; }
    }
    @media (max-width: 1119px) {
      #main-menu {
        grid-area: header;
        z-index: 2;
        background-color: initial;
        .menu { width: max-content; }
        .notice { max-width: 200px; }
      }
    }
  }
}
